<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link th:href="@{/styles/css/startAndRegistr.css}" type="text/css" rel="stylesheet"/>
    </style>
</head>
<body>

<h1>You can correct data about User </h1>
<div class="registration-cssave">
    <form th:method="PATCH" th:action="@{/admin/user/{id}/edit (id=${user.getId()})}" th:object="${user}">
        <h3 class="text-center">Введите ваши данные</h3>
        <div class="form-group">
            <input class="form-control item" type="text" th:field="*{name}"
                   maxlength="15" minlength="4" pattern="^[a-zA-Z0-9_.-]*$" id="name" required/>
        </div>
        <div class="form-group">
            <input class="form-control item" type="text" th:field="*{email}"
                   minlength="6" pattern="^[a-zA-Z0-9]+@+[a-zA-Z0-9]+.[a-z]{2,}" id="email" required/>
        </div>
        <div class="form-group">
            <input class="form-control item" type="text" th:field="*{birthDate}"
                   maxlength="10" minlength="10" pattern="[0-9]{4}-[0,1]{1}[0-9]{1}-[0-3]{1}[0-9]{1}" id="birthdate" required>
        </div>
        <div class="form-group">
            <input class="form-control item" type="text" th:field="*{password}"
                   minlength="3" id="password" required>
        </div>
        <th:block th:if="${currentUser.isAdmin()}">
            <div class="form-group">
                <input class="form-control item" type="text" th:field="*{role}"
                       pattern="ADMIN||USER" id="role" required>
            </div>
        </th:block>


        <div class="form-group">
            <button class="btn btn-primary create-account" type="submit">Save</button>
        </div>
    </form>
</div>
</body>
</html>